{
  "version": "2017-02-28",
  "operation": "PutItem",
  "key": {
    "id": $util.dynamodb.toDynamoDBJson($ctx.args.input.id),
    "name": $util.dynamodb.toDynamoDBJson($ctx.args.input.name),
  },
  "attributeValues": $util.dynamodb.toMapValuesJson($ctx.args.input),
  "condition": {
    "expression": "attribute_not_exists(#id) AND attribute_not_exists(#name)",
    "expressionNames": {
      "#id": "id",
      "#name": "name",
    },
  },
}