{
  "version": "2017-02-28",
  "operation": "Query",
  "index": "CategoryIndex",
  "query": {
    "expression": "category = :category",
    "expressionValues": {
        ":category": $util.dynamodb.toDynamoDBJson($ctx.args.input.category)
    }
  },
  "select": "ALL_ATTRIBUTES",
  "filter": #if($context.args.input.filter) $util.transform.toDynamoDBFilterExpression($ctx.args.input.filter) #else null #end,
}